body {
	background-color: #DAF7A6;
	height: 100%;
}
table {
	width: 100%;
	background-color: orange;
	border: 1px solid #dddddd;
		}
th, td{
	text-align: center;
	width: 15%;

			}
a.hover {
	color: white;
		}
#sklep 
{
	float:left;
	width: 34%;
	height: 75%;
	background-color: #900C3F;
	height: 80%;
	color: white;
}
#sprzedaz {
	float: right;
	width: 33%;
	height: 75%;
	background-color: #FFC300;
	height: 80%;
}
#kupno {
	float:left;
	width: 33%;
	height: 75%;
	background-color: #581845;
	height: 80%;
	color: white;
}
#baner {
	text-align: center;
	font-family: sans-serif;
	font-size: 150%;
	height: 10%;
	background-color: #C70039;
	color: white;
}

#stopka {
	background-color: #DAF7A6;	
	font-size: 200%;
}
